body, 
html {
  font-family: 'Ubuntu', sans-serif;
}


.homepage {
  margin-top: 10%;
  text-align: center;
  font-size: 50px;
}

.rectangle1 {
  margin-top: 10%;
  width: 100%;
  height: 50px;
  background: #ADD8E6;
}

.rectangle2 {
  margin-top: 10%;
  width: 100%;
  height: 50px;
  background: #ADD8E6;
}
.rectangle3 {
  margin-top: 10%;
  width: 100%;
  height: 100px;
  background: #DCDCDC
}
.rectangle4 {
  margin-top: 30%;
  width: 100%;
  height: 50px;
  background: #ADD8E6;
}
.rectangle5 {
  margin-top: 1%;
  margin-bottom: 25%;
  width: 100%;
  height: 50px;
  background: #ADD8E6;
}

.center-text {
  text-align: center;
}

.margintop5 {
  margin-top: 5%;
}

.margintop10 {
  margin-top: 12%;
}

.aboutpage-title {
  margin-top: 20%;
  margin-left: 10%;
  text-align: center;
  font-size: 50px;
}

.aboutpage-text {
  margin-top: 3%;
  font-size: 25px;
}

.imageprofile {
  margin-left:20%;
  width: 400px;
  border-radius: 50%;
}

.button-about {
  position: absolute;
  width: 102px;
  height: 29px;
  left: 469px;
  top: 501px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;

  color: #000000;
}

.skills-title {
  margin-top: 20%;
  text-align: center;
  font-size: 50px;
}

.column {
  margin-left:5%;
  float: left;
  width: 40%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hobbies-title {
  margin-top:20%;
}

.marginright3 {
  margin-right:3%;
}

.marginright10 {
  margin-right:10%;
}

.imagecontact {
  width:50px;
}

.left, .right {
  width:40%;
}

.middle {
  width:20%;
}

