{% extends "base.html"%}

{% block title %}
	{{page_title}}
{% endblock title %}


{% block contents %}
	<form method="POST">
		{%csrf_token%}
		<table>
			{{jadwal_form.as_table}}
		</table>
		  <button type="submit" class="btn btn-primary">Buat jadwal</button>
	</form>
{% endblock contents %}
