{% extends "base.html"%}

{% block title %}
	{{page_title}}
{% endblock title %}


{% block contents %}
	<h1> {{page_title}} </h1>

	<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Hari</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Jam</th>
      <th scope="col">Nama Kegiatan</th>
      <th scope="col">Tempat</th>
      <th scope="col">Kategori</th>
      <th scope="col">Hapus</th>
      <th scope="col">Ubah</th>
    </tr>
  </thead>
  <tbody>

  	{% for jadwal in semua_jadwal%}
	    <tr>
	      <th scope="row">{{forloop.counter}}</th>
	      <td>{{jadwal.hari}}</td>
		  <td>{{jadwal.tanggal}}</td>
		  <td>{{jadwal.jam}}</td>
		  <td>{{jadwal.nama_kegiatan}}</td>
		  <td>{{jadwal.tempat}}</td>
		  <td>{{jadwal.kategori}}</td>
		  <td> <a class="btn btn-danger" href="{% url 'jadwal:delete' jadwal.id%}"> Hapus </a>
	  	  <td> <a class="btn btn-secondary" href="{% url 'jadwal:change' jadwal.id%}"> Ubah </a>
	    </tr>
    {% endfor %}

  </tbody>
</table>
<a class="btn btn-primary" href="{% url 'jadwal:create' %}"> Tambah </a>

{% endblock contents %}