{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--My CSS package-->
    <link rel="stylesheet" href="{% static 'css/lab3.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        {% block title %}

        {% endblock title %}
    </title>
  </head>
  <body>


    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:skills' %}">Skills</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:interests' %}">Interests</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'jadwal:list' %}">Jadwal</a>
                </li>
                </ul>
            </div>
        </nav>


    <div class="container">
        {% block contents %}

        {% endblock contents %}

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </body>
</html>