{% extends "base.html"%}
{% load static %}

{% block title %}
	{{page_title}}
{% endblock title %}


{% block contents %}

		<!--About Page-->
		<h1 class="aboutpage-title" id="aboutpage"> My Profile </h1>
		<div class="row">
			<div class="column">
				<img src="{% static 'images/profile.jpg' %}" alt="Me" class="imageprofile">
			</div>

			<div class="column">
				<br><br><br>
				<p class="aboutpage-text"> I’am a computer science student. I love to explore new things, learn, then adapt it, especially in the machine learning field. In my spare time, i play chess and watch movies too. </p>
			</div>
		</div>
{% endblock contents %}