{% extends "base.html"%}
{% load static %}

{% block title %}
	{{page_title}}
{% endblock title %}


{% block contents %}

		<!--Contact Page-->
		<div class="rectangle3">
			<h4 class="center-text" id="contactpage"> Contact </h4>
			<div class="row row justify-content-center">
				<div class="col-sm-1">
					<a href="https://twitter.com/vianrac">
						<img src="{% static 'images/twitter.png' %}" alt="twitter" class="imagecontact">
					</a>
				</div>
				<div class="col-sm-1">
					<a href="mailto:ravnsy@gmail.com?">
						<img src="{% static 'images/gmail.png' %}" alt="gmail" class="imagecontact">
					</a>
				</div>
				<div class="col-sm-1">
					<a href="https://www.linkedin.com/in/ronyagusvian">
						<img src="{% static 'images/linkedin.png' %}" alt="linkedin" class="imagecontact">
					</a>
				</div>
			</div>
		<div>

{% endblock contents %}
