{% extends "base.html"%}
{% load static %}

{% block title %}
	{{page_title}}
{% endblock title %}


{% block contents %}

		<!--Homepage-->
		<div class="rectangle1"> </div>

		<div class="center-text">
		<h1 class="homepage" id="homepage"> I'am Rony Agus Vian </h1>

		<div>
			<a href="{% url 'homepage:about' %}">
				<button type="button" class="btn btn-light">about</button>
			</a>
			<a href="{% url 'homepage:skills' %}">
				<button type="button" class="btn btn-light">skills</button>
			</a>
			<a href="{% url 'homepage:interests' %}">
				<button type="button" class="btn btn-light">interests</button>
			</a>
			<a href="{% url 'homepage:contact' %}">
				<button type="button" class="btn btn-light">contact</button>
			</a>
		</div>

		<div class="rectangle2"> </div>
		</div>
			
{% endblock contents %}
