{% extends "base.html"%}
{% load static %}

{% block title %}
	{{page_title}}
{% endblock title %}


{% block contents %}

		<!--Interests Page-->
		<h1 class="hobbies-title center-text" id="interestspage"> Hobbies and Interests </h1>

		<div class="container">
			<div class="row">
				<div class="col">
				<h4 class="center-text margintop10"> Chess </h4>
				<h4 class="center-text margintop10"> Movies </h4> <br>
				<h4 class="center-text margintop10"> Solving Problems </h4> 
				<h4 class="center-text margintop10"> Machine Learning </h4>
				</div>
				<div class="col marginright10">
				<p class="margintop5"> I like to play chess before i go to sleep. I think this have contribution to my own decision. I will count effect when i need to make decision to something. </p>
				<p class="margintop5"> When weekend coming, usually i give time to watch movies, especially if my favorit genre just release; about comedy and drama. Most the times, i love movies that have great music and great cinematic. </p>
				<p class="margintop5"> I love to solve many problems using algorithm. Beside of train the competencies, solving problem also benefit for understand the way of critical thinking. </p>
				<p class="margintop5"> I passionate in machine learning field. I learn and sharpen it at least one hour in a day. I think in the future, machine learning can help human being to get the much better in many aspects. </p>
				</div>
			</div>
		</div>
			
{% endblock contents %}

