{% extends "base.html"%}
{% load static %}


{% block title %}
	{{page_title}}
{% endblock title %}


{% block contents %}

		<!--Skills Page-->

		<h1 class="skills-title" id="skillspage"> Skills </h1>

		<div class="row">
			<div class="column">
				<h2 class="center-text"> Programming </h2>


				<p class="center-text">Java</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

				<p class="center-text">Python</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

				<p class="center-text">C++</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

				<p class="center-text">Matlab</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

				<p class="center-text">HTML</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

				<p class="center-text">CSS</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>

			<div class="column">
				<h2 class="center-text">Soft Skills</h2><br><br>
				<p class="center-text">Hard worker</p><br>
				<p class="center-text">Integrity</p><br>
				<p class="center-text">Team work</p><br>
				<p class="center-text">Passionate</p><br>
				<p class="center-text">Problem solving</p>
			</div>
		</div>
			
{% endblock contents %}
